@import url('https://fonts.googleapis.com/css2?family=Koulen:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

$main-color: navy;
$main-text-color: #484848;
$light-gray-color: #b8b8b8;
$heading-font: 'Koulen', serif;
$body-font: 'Raleway', sans-serif; 