<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" routerLink="/" data-test="logo">AirWheels</a>
  


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div data-test='menu' class="collapse navbar-collapse " id="navbarNavDropdown" >
    <form class="input-group justify-content-center" data-test='search'>
      <input class="form-control mr-sm-2 aw-search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0 btn-aw-search" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">

      <ng-container *ngIf="!auth.isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated()">
        <li class="nav-item" >
          <a routerLink="/profile" class="nav-link">Hello, {{auth.getUsername()}} </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" (click)="logout()" routerLink="/">Logout</a>
        </li>
      </ng-container>

      <li class="nav-item">
        <a class="nav-link" routerLink="/help">Help</a>
      </li>
    </ul>
  </div>
</nav>

<div class='d-flex justify-content-start flex-row'>
  <div class="filter-button p-2" data-test="date-selector">
    <button class="btn btn-outline-secondary">Dates</button>
  </div>
  <div class="filter-button p-2" data-test="price-selector">
    <button class="btn btn-outline-secondary">Price</button>
  </div>
  <div class="filter-button p-2" data-test="size-selector">
    <button class="btn btn-outline-secondary">Wheel Size</button>
  </div>
  <div class="filter-button p-2" data-test="brand-selector">
    <button class="btn btn-outline-secondary">Brand</button>
  </div>
</div>